stacklayout label, stacklayout textfield {
  text-align: center;
}

#mainTitle {
  font-size: 20;
  margin-bottom: 20;
}

#himnTitleGroup label {
  font-size: 18;
  margin-top: 30;
  margin-bottom: 10;
}